<p id="notice"><%= notice %></p>
<div class="prop">
<h1><b>Property Details</b></h1>
<p>
  <strong>Property:</strong>
  <%= @property.property %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @property.adress %>
</p>

<p>
  <strong>Building age:</strong>
  <%= @property.building_age %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @property.remarks %>
</p>
</div>
<h2><b>Nearest station 1</b></h2>
<p>
  <strong>Name of railway line:</strong>
  <%= @property.name_of_railway_line %>
</p>

<p>
  <strong>Statation name:</strong>
  <%= @property.statation_name %>
</p>

<p>
  <strong>How many minutes walks:</strong>
  <%= @property.how_many_minutes_walks %>
</p>
<h2><b>Nearest station 2</b></h2>
<p>
  <strong>Name of railway line:</strong>
  <%= @property.name_of_railway_line1 %>
</p>

<p>
  <strong>Statation name:</strong>
  <%= @property.statation_name1 %>
</p>

<p>
  <strong>How many minutes walks:</strong>
  <%= @property.how_many_minutes_walks1 %>
</p>
<div class="links">
  <%= link_to 'Edit', edit_property_path(@property) %> |
  <%= link_to 'Back', properties_path %>
</div>
